:root {
  --colorPrimary: #171d4b;
  --colorSecundary: #f4193e;
  --colorbackground: #f7fbfe;
  --colorbackgroundGrey: #fefefd;
  --Shadow: 0px 7px 20px -10px #949494;
  scroll-behavior: smooth;
  --maxWidth: 800px;
  box-sizing: border-box;
}
body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  color: var(--colorPrimary);
  background-color: var(--colorbackground);
}
header {
  background-color: var(--colorbackgroundGrey);
}
.container-hero,
.menu {
  max-width: var(--maxWidth);
}
a {
  text-decoration: none;
  color: var(--colorPrimary);
}
.menu {
  margin: 0 auto;
  padding: 0.5em 1em;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
}
.menu ul li {
  display: inline-block;
  text-decoration: none;
  margin-right: 2em;
}
.hero {
  box-shadow: var(--Shadow);
}
.hero .container-hero {
  margin: 0 auto;
  padding: 2.5em;
  display: flex;
  height: 14em;
}
.hero .container-hero h1 {
  font-size: 4em;
  margin: 0 0 0 1em;
}
.hero .container-hero figure {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--colorSecundary);
  height: 17em;
  width: 25em;
  position: relative;
  bottom: -50px;
}
.hero .container-hero figure img {
  padding: 2em;
  text-align: center;
}
.services {
  margin-top: 1em;
}
.services .container-services {
  padding-top: 2em;
  max-width: var(--maxWidth);
  padding: 2em;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 'service image-service';
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .services .container-services {
    grid-template-columns: 1fr;
    grid-template-areas: 'service' 'image-service';
  }
}
.services .service {
  grid-area: service;
  background: var(--colorbackgroundGrey);
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  box-shadow: var(--Shadow);
  height: auto;
}
.services .service:last-child {
  margin-left: 10em;
}
.services .service h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.services .service p {
  margin-bottom: 0.5em;
  margin-top: 0;
}
.services .service img {
  margin-right: 1em;
}
.services .container-text-service {
  display: inline-block;
}
.services .image-service {
  margin-top: 14em;
  grid-area: image-service;
}
@media screen and (max-width: 768px) {
  .services .image-service {
    margin: 4em 5em 0 auto;
  }
}
.about-me .container-aboutme {
  margin: 0 auto;
  padding: 2em;
  max-width: var(--maxWidth);
}
.about-me h3 {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.about-me .container-text-about-me {
  padding: 1em;
  max-width: 30em;
  box-shadow: var(--Shadow);
  border-radius: 5px;
}
.about-me .container-text-about-me span {
  font-weight: bold;
}
.project {
  padding: 2em;
}
.project .container-projects {
  margin: 0 auto 3em auto;
  max-width: var(--maxWidth);
}
.project h4 {
  text-align: center;
  font-size: 4em;
  margin: 0.5em 0;
}
.project .projects {
  display: flex;
  justify-content: center;
}
.project img {
  width: auto;
  height: 15em;
  border-radius: 5px;
}
.project a:first-child {
  margin-right: 5em;
}
footer {
  height: 1.5em;
  background-color: var(--colorSecundary);
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.aside {
  background: var(--colorbackgroundGrey);
  padding: 1em;
  width: 50px;
  box-shadow: var(--Shadow);
  position: fixed;
  top: 0;
  z-index: 2;
}
.aside .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15em;
}
.aside .logo img {
  width: 50px;
  height: auto;
}
.aside .social-icons {
  margin-bottom: 5em;
}
.aside .social-icons img {
  display: block;
  height: 25px;
  width: 25px;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
.aside .ocultar {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  bottom: -2.5em;
  cursor: pointer;
}
.aside.active {
  animation: side-left 1s forwards;
}
.aside.Inactive {
  animation: side-right 1s forwards;
}
@media screen and (max-width: 768px) {
  :root {
    --maxWidth: 550px;
  }
  .menu ul {
    justify-content: center;
  }
  .hero .container-hero {
    height: 10em;
    margin-bottom: 3em;
  }
  .hero .container-hero h1 {
    font-size: 2.7em;
  }
  .hero .container-hero figure {
    height: 13em;
    width: 25em;
    bottom: -20px;
  }
  .container-service {
    margin-top: 2.5em;
  }
}
@media screen and (max-width: 425px) {
  .hero .container-hero {
    height: 15em;
    margin-bottom: 1em;
    display: block;
  }
  .hero .container-hero h1 {
    font-size: 2.7em;
  }
  .hero .container-hero figure {
    height: 12em;
    width: 15em;
    right: -80px;
  }
  .services .service {
    max-width: 20em;
    height: auto;
    margin-bottom: 1em;
  }
  .services .service:last-child {
    margin-left: 1em;
  }
  .project .projects {
    display: block;
    text-align: center;
  }
  .project .projects a {
    margin: 0;
  }
  .aside {
    left: -100px;
  }
}
@media screen and (max-width: 320px) {
  .hero .container-hero h1 {
    font-size: 2.6em;
    margin: 0;
  }
  .hero .container-hero figure {
    right: 30px;
  }
  .container-service .service {
    display: flex;
  }
  .container-service .service img {
    height: 3em;
  }
}
.titles {
  font-size: 2em;
}
@-moz-keyframes side-left {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes side-left {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes side-left {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@keyframes side-left {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes side-right {
  from {
    left: 0;
  }
  to {
    left: -100px;
  }
}
@-webkit-keyframes side-right {
  from {
    left: 0;
  }
  to {
    left: -100px;
  }
}
@-o-keyframes side-right {
  from {
    left: 0;
  }
  to {
    left: -100px;
  }
}
@keyframes side-right {
  from {
    left: 0;
  }
  to {
    left: -100px;
  }
}
